<style type="text/css">
	.navbar-light .navbar-nav .nav-link {
        color: white;
        padding-right: 0.5rem;
        padding-left: 3.5rem;
        font-weight: bold;
    }
    .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: -5px;
}
    button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border: 2px solid white;
    }
    nav#myHeader {
    background-color: black;
}
    .button {
        background-color: #fff;
        color: #222020;
        padding: 6px 20px;
        border: none;
        cursor: pointer;
        border: 0px solid white;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button.button{
    background-color: white;
    color: black;
    padding: 7px 6px;
    border: none;
    cursor: pointer;
    margin-left: 124px;
}

.background-container {
    height: 500px;
    overflow: auto;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f2fd3;
    background-image: url('./assets/simple.png');
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.background-container h6 {
    position: relative; /* Ensure the text is positioned relative to the container */
    color: #FFFFFF;
    font-size: 52px;
    font-weight: bold;
    margin-top: 136px;
    z-index: 2; /* Ensure the text is above the overlay */
}
.background-container img {
    position: relative; /* Ensure the text is positioned relative to the container */
    color: #FFFFFF;
    font-size: 52px;
    font-weight: bold;
    margin-top: 136px;
    z-index: 2; /* Ensure the text is above the overlay */
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
}

.icon {
    margin-right: 20px;
    width: 88px;
    height: 50px;
/*    background-color: #F3F3F3;*/
/*    border-radius: 50px;*/
}



.hourglass-icon {
    width: 41px;
    height: 28px;
    margin-top: 10px;
}
.js-icon{
	width: 41px;
    height: 28px;
        margin-top: 10px;
}
.html-icon{
	width: 41px;
    height: 28px;
        margin-top: 10px;
}
.node-js-icon{
	width: 41px;
    height: 28px;
        margin-top: 10px;
}
.node-js-icon{
	width: 41px;
    height: 28px;
        margin-top: 10px;
}

.content {
    flex: 1;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    line-height: 1.5;
        color: orange;

}
.orange-icon {
    color: orange;
}
.viewBox {
    margin-left: 46px;
    margin-top: 29px;
}
.card {
    width: 484px; 
    margin: 0 auto;
    padding: 30px; 
    background-color: #fff;
    border-radius: 12px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.card h6 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 26px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ff9900;
}

        .container {
    display: flex;
    justify-content: space-between; 
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-black" id="myHeader">
        <a href="/learnings">
            <svg width="50" height="50" viewBox="0 0 183 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M99.4946 0H27.4946H7.49463V20V53.2541C11.6309 44.3145 18.7127 37.0164 27.4946 32.6049V20H99.4946V20.0019C134.335 20.2706 162.495 48.5967 162.495 83.5C162.495 111.767 144.025 135.721 118.495 143.95V164.711C155.205 155.928 182.495 122.901 182.495 83.5C182.495 37.551 145.381 0.27047 99.4946 0.00146484V0ZM24.5585 138.362C17.6575 129.535 18.7509 117.002 26.771 109.485L14.4264 93.6955C-2.28188 108.047 -4.90408 133.149 8.80262 150.68C22.5093 168.212 47.5022 171.722 65.4615 158.97L53.1164 143.181C43.8862 149.151 31.4596 147.188 24.5585 138.362ZM69.4366 153.948L20.9536 91.9376L36.7081 79.6199L66.4456 117.655C68.5469 113.8 71.4535 110.301 75.1327 107.425C82.2837 101.834 91.0107 99.6424 99.3667 100.613L96.9367 120.465C93.6607 120.117 90.2517 120.991 87.4517 123.181C81.7327 127.651 80.7217 135.911 85.1927 141.63C88.2177 145.499 92.9787 147.213 97.5127 146.532L97.4997 166.623C87.0077 167.233 76.3997 162.854 69.4366 153.948ZM73.1725 51.1098C84.4465 65.5298 81.8965 86.3591 67.4765 97.6334L55.1578 81.8775C60.8761 77.4066 61.8874 69.1468 57.4166 63.4285C52.9457 57.7102 44.6859 56.699 38.9676 61.1698C33.2493 65.6406 32.238 73.9005 36.7089 79.6188L20.953 91.9375C9.67871 77.5175 12.2288 56.6881 26.6488 45.4139C41.0689 34.1396 61.8982 36.6897 73.1725 51.1098Z" fill="white"/>
            </svg>
        </a>

        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item active" style="color: blcak;">
                    <a class="nav-link" href="/learnings" style="color: #ffffff;">Home</a>
                </li>
                <li class="nav-item" style="color: white;">
                  <a class="nav-link" href="#Courses" style="color: #ffffff;">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Instructors" style="color: #ffffff;">Instructors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Request Callback" style="color: #ffffff;">Request Callback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jobs" style="color: #ffffff;">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/procast" style="color: #ffffff;">Blogs</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                <a href="/login">
                  <button class="button" style="background-color: white; color: black; padding: 6px 20px; border: none; cursor: pointer;">LOGIN | SIGNUP</button>
                </a>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
    </script>


<% @categories.each do |category| %>
  <div class="background-container" style="background-image: url('<%= url_for(category.image) if category.image.attached? %>');">
    <h6 class="text-center" style="color: #ffffffdb; font-size: 52px; font-weight: bold; margin-top: 136px;">
      <%= category.title %>
    </h6>
    <br>
  </div>
<% end %>
<div class="container">
	<div class="viewBox">
    <% count = 0 %>
    <% @subcategories.each do |subcategory| %>
      <% if count < 4 %>
  			<div class="icon-box">
  				<div class="icon" style="width: 50px; height: 50px;">
  					<%= image_tag subcategory.image, style: "max-width: 100%; max-height: 100%; border-radius: 50%;" if subcategory.image.attached? %>
  				</div>

  				<div class="content">
  					<h6 class="title"><%= subcategory.title %></h6>


  					<p class="description">
  						<% subcategory.super_sub_categories.pluck(:name).each do |super_subcategory_name| %>
  							<%= super_subcategory_name %><br>
  						<% end %>
  					</p>
  				</div>
  			</div>
      <% count += 1 %>
      <% end %>
		<% end %>

		<h3 class="heading" style="font-weight: bold;">For more Info !</h3>
    <a href="https://instadotanalytics.com/wp-content/uploads/2024/03/MERN-Curriculum-1.pdf" onclick="downloadPDF()" class="btn btn-primary">Click here to Download Mern PDF</a>


	</div>

    <%= form_for @registration, url: registration_index_url(@registration) do |f| %>
    <div class="card">
        <h6>Request a Call Back</h6>
        <form>
            <div class="form-group">
                <%= f.label :your_name, "Your_name<span class='text-danger'>*</span>".html_safe %>
                <%= f.text_field :your_name, class: "form-control", placeholder: "Enter your first name" %>
            </div>
            <div class="form-group">
                <%= f.label :email, "Email<span class='text-danger'>*</span>".html_safe %>
                <%= f.text_field :email, class: "form-control", placeholder: "Type your email here" %>
            </div>
            <div class="form-group">
                <%= f.label :phone_number, "Phone_number<span class='text-danger'>*</span>".html_safe %>
                <%= f.text_field :phone_number, class: "form-control", placeholder: "Type your phone_number here" %>
            </div>
            <div class="form-group">
                <%= f.label :course_of_interest, "Course Interested<span class='text-danger'>*</span>".html_safe %>
                <%= f.select :course_of_interest, options_for_select(["------------Select Course------------", "Cyber Security", "Game Development", "Ethical Hacking", "Python", "HTML5", "CSS3", "Bootstrap", "Javascript", "JQuery", "Ajax", "Angular JS", "C Programming", "Advance C++", "PHP", "Core Java", "Advance Java", "Corporate Java", "Android", "IOS", "Big Data", "Hadoop"]), { prompt: "Please Select Course" }, class: "form-control", required: true %>
            </div>
            <div class="form-group">
                <%= f.label :message, "Your Message<span class='text-danger'>*</span>".html_safe %>
                <%= f.text_area :message, class: "form-control", rows: 8, placeholder: "Write your message" %>
            </div>
            <%= f.button "Submit", class: "btn btn-primary", style: "margin-bottom: 12px; width: 49%; margin-left: 101px;" %>
        </form>
    </div>
    <% end %>
</div>

<br>
<%= render "footer" %>