<p>Your registration details</p>
<p>Name: <%= @registration.your_name %></p>
<p>Email: <%= @registration.email %></p>
<p>Phone_number: <%= @registration.phone_number %></p>
<p>Company_name: <%= @registration.company_name %></p>
<p>College_name: <%= @registration.college_name %></p>

<h1>Thank you for registering!</h1>